<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pokeneas App</title>
</head>
<body>
    <h1>Welcome to Pokeneas App</h1>
    <p>Here you can find all the information about your favorite pokeneas</p>
    <button id="button1">
        <a href="/pokenea">JSON API View</a>   
    </button>
    <button id="button2">
        <a href="/phrase">Phrase View</a> 
    </button>
</body>
</html>
